<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the website, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/
 *
 * @package WordPress
 */

// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ wp_db }}' );

/** Database username */
define( 'DB_USER', '{{ wp_db_user }}' );

/** Database password */
define( 'DB_PASSWORD', '{{ wp_db_pass }}' );

/** Database hostname */
define( 'DB_HOST', '{{ db_host | default ('localhost') }}' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'oBzpmtky*oew0%(~+OoV1)LR>?}v1$/u[o-2KnVe_%D@`>Zb!.D{,z?#uCD$Gs;V');
define('SECURE_AUTH_KEY',  'R~*q|RmyCT|Lf3E|g,XBo8Q/SD|t>]TW5YVR$7*`j-|#9>i3+GaL%CU`kp,#*N=B');
define('LOGGED_IN_KEY',    '.PPJD=![e)+7Cp/x|xFJiIMQtgh_<<sNCJ-<iL5nR[-|Y?Lnp|@{cvO[J*O<e+TL');
define('NONCE_KEY',        'qQZS^74QpS);n33SOjL-LX/+xl|u+Wv;4,QTsy0Deh{jdZF+<?1dKH3&@s3CCjmF');
define('AUTH_SALT',        '+ik(//1]#:E4`6]<&`b{3vnk.Le8cz}(IS+JG%d8%c6g^=9l3vbJz2cDol_UDr|g');
define('SECURE_AUTH_SALT', '.mH<xo:p|?eH8c:~6M>}4_yL<;PGLVC,A:nuroq~5@kq#>t=-ZZXQQSr(o]hC9i^');
define('LOGGED_IN_SALT',   '(|)gJEyA$O.+jH&JA@@<|+Q5N,U8JB_AwXN_lX5^)DWo;xWLk7-ABtNI/}L|1|mD');
define('NONCE_SALT',       '%`V,Ryev.35x4Qu+U75+2m@)L9gFbSh*hByt)kTV(+=Ie!n%IE)l %p5/2w-:Aw5');

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 *
 * At the installation time, database tables are created with the specified prefix.
 * Changing this value after WordPress is installed will make your site think
 * it has not been installed.
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/#table-prefix
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://developer.wordpress.org/advanced-administration/debug/debug-wordpress/
 */
define( 'WP_DEBUG', false );

/* Add any custom values between this line and the "stop editing" line. */



/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
